.Results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    max-width: 600px; }

.Dictionary h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px; }

.Dictionary input {
    width: 100%;
    max-width: 600px;
    border-radius: 6px;
    padding: 8px 12px;
    color: #333;
    border: 1px solid #ddd;  }

.Dictionary section {
    background-color: rgb(239, 237, 233);
    border-radius: 8px;
    padding: 8px 12px;
    max-width: 600px;
    width: 100%;
    margin: 5px auto;
}